numpy==1.16.3
scipy==1.1.0
torch==1.0.1
matplotlib==2.2.3
tqdm==4.26.0
anndata==0.6.19
scikit-learn==0.19.2 
h5py==2.8.0
pandas==0.23.4
loompy==2.0.17
jupyter==1.0.0
ipython==7.1.1
pytest==3.7.4
pytest-runner==2.11.1
flake8==3.7.7 
coverage==4.5.3
codecov==2.0.8
Sphinx==1.8.5